body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.header {
    font-size: 32px;
    display: flex;
    gap: 16px;
    justify-content: space-around;
    padding: 25px;
}
.header h1 {
    margin: 0;
    padding: 25px;
    flex: 1;
}
/* body */
.body {
    flex: 1;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body-one, .body-three {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    padding: 25px;
    flex-wrap: wrap;
    flex: 1;
}
.body-one p, .body-three p{
    padding: 25px;
    flex: 1;
}
.body-two {
    display: flex;
    gap: 16px;
    padding: 25px;
    flex-wrap: wrap;
    flex: 1;
}
.body-two h1 {
    /* flex: 1; */
    padding: 25px;
}
.main1 {
    flex: 1;
}

.footer {
    font-size: 32px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
.footer p {
    padding: 25px;
}